/*
    ******************************************************************************
    *                                                                            *
    *   Document: Stylesheet                                                     *
    *                                                                            *
    *   Description: The styleshhet that gives the website the pretty stuff      *
    *                                                                            *
    *   Author:  Andrew L                                                        *
    *                                                                            *
    *   Date: 8/20/2020                                                          *
    *                                                                            *
    *   History: 8/20/2020 Creation                                              *
    ******************************************************************************
*/

/* ********************************    GENERAL ITEMS   *********************************** */

a
{
    color: Yellow;
    text-decoration: none;
    font-size: 2vw;
}

a:visited
{
    color: Yellow;
    text-decoration: none;
    font-size: 2vw;
}

h3
{
    color: white;    
}

body
{
    background-color: skyblue;
}

img
{
    border-radius: 8px;
}

th, td 
{
    padding: 15px;
}

/* ********************************  CLASS ITEMS   *********************************** */

.centerall
{
    text-align: center;
    
}

.centertext
{
    width: 50vw;
    margin-left: 24%;
}

.imgsizing
{
    width: 50vw;
}

.bodypop
{
    background-color: teal;
}

.widthdiv
{
    width: 50vw;
    margin: auto;
}

.whitetext
{
    color: white;
}

.bulletgone
{
    list-style: none;
}

.margeintop
{
    margin-top: 1%;
}

.linksize
{
    font-size: 20px;
}

/* ********************************    DROPDOWN CLASSES   *********************************** */

.dropbtn 
{
    background-color: skyblue;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown 
{
    position: relative;
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover 
{
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content 
{
    display: block;
}

.dropdown:hover .dropbtn 
{
    background-color: rgb(102, 159, 182);
}
