/* ********************************    GENERAL ITEMS   *********************************** */

a
{
    color: #103e93;
    text-decoration: none;
}

h3
{
    color: black;    
}

body
{
    
}

img
{
    border-radius: 8px;
}

th, td {
    padding: 15px;
  }

/* ********************************  CLASS ITEMS   *********************************** */

.centerall
{
    text-align: center;
}

.centertext
{
    width: 50vw;
    margin-left: 24%;
}

.container 
{
    width: 60%;
    height: 20%;    
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: #D58936;
    border-radius: 8px;
}

.one 
{
    width: 50%;  
    float: left;
    color: #efd95d;
}

.two 
{
    margin-left: 15%; 
    color: #efd95d;   
}

.three
{
    width: 50%; 
    float: left;
    color: #efd95d; 
}

.four
{
    margin-left: 15%; 
    color: #efd95d; 
}

.five
{
    margin-left: 0%; 
    color: #efd95d; 
}

@media only screen and (max-width: 600px) 
{
    .one 
    {
      width: 100%;
    }
    .two
    {
        width:70%;
    }
    .three
    {
        width:100%;
    }
    .four
    {
        width:70%;
    }
    .imgstyle
    {
        display: none;
    }
}

.imgstyle
{
    max-width: 30vw;
}

.listinside
{
    list-style-position: inside;
}

.tablestuff
{
    margin: auto;
    border: 1px solid black;
}
/* ********************************    DROPDOWN CLASSES   *********************************** */

.dropbtn 
{
    background-color: #69140E;
    color: white;    
    padding: 30px;
    font-size: 2vw;
    border: none;
    font-weight: bold;
    border-radius: 8px;
}

.dropdown 
{
    position: relative;
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 0;    
}

.dropdown:hover .dropdown-content 
{
    display: block;
}

.dropdown:hover .dropbtn 
{
    background-color: rgb(60, 21, 24);
    border-radius: 8px;
}
